<div id="removefield">
  {% for room in rooms %}
            <div class="row sideBar-body">
              <a href="/chat/{{room.id}}">
                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                  <div class="avatar-icon">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                  </div>
                </div>
                <div class="col-sm-9 col-xs-9 sideBar-main">
                  <div class="row">
                    <div class="col-sm-8 col-xs-8 sideBar-name">
                      <span class="name-meta">{% for user in room.users.all %}{% if user != request.user %}{{user|escapejs}}   -     {% for sayi in room.sayi.all %}{% if sayi.user != request.user %}{{sayi.say}}{% endif %}{% endfor %}       - {% if user.profile.online %}Online{% else %}Offline{% endif %}{% endif %}{% endfor %}                    </span>
                    </div>
                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                      <span class="time-meta pull-right">{{room.date}}
                    </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          {% endfor %}
    </div>